<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
  </head>
  <body>

    <div id="app"></div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- VueJS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      new Vue({
        el: '#app',
        template: `
          <div class="container">
            <h1>Comments</h1>
            <hr>
            <div class="form-todo form-group">
              <p>
                <input placeholder="Your name" type="text" name="author"
                class="form-control" v-model="name"/>
              </p>
              <p>
                <textarea placeholder="Your comment" name="message"
                class="form-control" v-model="message"></textarea>
              </p>
              <button type="submit" class="btn btn-primary" v-on:click="addComment">Comment</button>
            </div>

            <div class="list-group-item" v-for="(comment, index) in allComments">
              <span class="comment__author">
                Author: <strong>{{ comment.name }}</strong>
              </span>
              <p>{{ comment.message }}</p>
              <div>
                <a href="#" title="Delete" v-on:click.prevent="removeComment(index)">
                  Delete
                </a>
              </div>
            </div>
          </div>
            `,
        data() {
          return {
            comments: [],
            name: '',
            message: ''
          }
        },
        methods: {
          addComment() {
            if(this.message.trim() === '') {
              return;
            }
            
            this.comments.push({
              name: this.name,
              message: this.message
            })

            this.name = ''
            this.message = ''
          },
          removeComment(index) {
            this.comments.splice(index, 1);
          }
        },
        computed: {
          allComments() {
            return this.comments.map(comment => ({
              ...comment,
              name: comment.name.trim() === '' ? 'Anonymous' : comment.name
            }))
          }
        }
      })
    </script>
  </body>
</html>
